@charset "utf-8";
// client color scheme:
$backgroundlight: #E9F2EC;
$background: #C4EBC8;
$caption: #095256;
$text: #087F8C;
$decoration1: #D4AFB9;
$danger: #E39774;
$primary: $decoration1;
$success: $caption;
$info: $text;
$warning: $background;
$light: $backgroundlight;
@import "../../node_modules/bulma";